<div class="section">
    <div class="card bg-white p-2 border w-full  shadow-sm rounded-md flex flex-col gap-2">
        <img src="assets/thumbnail.jpeg" class="h-[200px]" alt="description">

            <div class="p-2 text-gray-500">
                <div class="title font-bold">{{videoTitle}}</div>

                <div class="tags flex justify-start gap-2 mt-4">
                    <app-tag label="facial recognition"></app-tag>
                    <app-tag label="object recognition"></app-tag>
                </div>

                <div class="uploaded text-sm mt-4"><span class="">Uploaded: </span> <span class="text-gray-500 text-xs">{{dateCreated}}</span></div>
            </div>
        </div>
</div>
