<div class="section">
    <div class="videos">
        <div class="header pt-8">
            <app-search-upload-header></app-search-upload-header>
        </div>

        <div class="buttons flex justify-center w-full gap-4  mt-4">
            <button class="px-4 py-1 text-gray-500 border active:scale-95 bg-white border-gray-400 text-sm rounded-md">Objects</button>
            <button class="px-4 py-1 text-gray-500 border active:scale-95 bg-white border-gray-400 text-sm rounded-md">Portrait</button>
            <button class="px-4 py-1 text-gray-500 border active:scale-95 bg-white border-gray-400 text-sm rounded-md">Vehicles</button>
        </div>

        <div class="flex flex-wrap gap-4 justify-start mt-4">
            <div class="pt-4 flex-shrink-0 flex-basis-1" *ngFor="let row of names">
              <app-image-card [imageTitle]=row></app-image-card>
            </div>
          </div>
    </div>
</div>
