<div class="flex items-center justify-between py-2 px-4 bg-white rounded-lg border shadow-sm w-full">
    <div class="flex items-center w-full">
        <div class="flex items-end">
            <img src="assets/vid.png" alt="thumbnail" class="w-14 h-12" >
        </div>
        <div class="ml-4 w-full py-1 flex flex-col gap-1">
            <div class="flex justify-between">
                <div class="text-sm font-medium text-gray-800">Video 01</div>
                <div class="flex items-center justify-end w-[20%] active:scale-95">
                    <button class=" hover:text-bg text-sm text-gray-500 focus:outline-none mr-2">
                        View
                    </button>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg>
                    </span>
                </div>
            </div>
            <div class="flex flex-col w-full items-center">
                <span class=" text-sm text-gray-500 w-full flex justify-end">70%</span>

                <div class="w-full bg-gray-200 rounded-full h-1.5">
                    <div class="bg-gray-900 h-1.5 rounded-full" style="width: 70%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
