<div class="section px-4 py-4 flex justify-start gap-4 border-b ">
    <div class="video text-xs px-4 py-1  bg-secondary text-secondarytext rounded-full truncate capitalize flex items-center">{{videoTitle}}</div>
    <div class="alert-detail w-[60%] text-gray-800 truncate flex items-center">{{alertDetail}}</div>
    <div class="action flex items-center justify-end active:scale-95">
        <button (click)="onViewClick()" class=" hover:text-bg text-sm text-gray-500 focus:outline-none mr-2 ">
            View
        </button>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
              </svg>
        </span>
    </div>
</div>